<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="apple-touch-icon" sizes="76x76" href="/images/logo.png">
  <link rel="icon" type="image/png" href="/images/logo.png">
  <link rel="apple-touch-icon" href="/images/logo.png"/>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
{{{body}}}
</body>
</html>
